@model List<WishList.Models.Item>

    <h1>Wishlist</h1>
    <a href="#" asp-action="create">Add item</a>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.Description 
                <a href="#" asp-action="delete" asp-route-id="@item.Id" >delete</a>
            </li>
        }

    </ul>